@tailwind base;
@tailwind components;
@tailwind utilities;

.choiceChips::-webkit-scrollbar {
  display: none;
}

.choiceChips::-webkit-scrollbar-thumb {
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}